.main-row-contactus {
  background: url('../images/bg4.png') no-repeat;
  background-color: rgb(65,65,65);

  #about {
    color: white;
	font-size: x-large;
  }
  
  #contact-submission {
    width: 49%;
    color: white;
    font-size: large;
    float: left;

    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: 1em;
    }


    .name-input {
	  float: right;
    }
    
    label {
	  float: left;
	  clear: both;
	}
  }
  
  #address-container {
    width: 49%;
	background-color: rgba(255,255,255,0.6);
    text-align: right;
    float: right;
    
    .float-text-left {
      float: left;
    }
    
    #address-data {
      padding: 5%;
    }

    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }

  }
}

