.corner-menu {
  position: relative;
  width: 2*$cm-image-width;
  height: 2*$cm-image-width;
  padding: $cm-padding;
  line-height: 0em;
  background-color: white;
  opacity: 0.2;
  z-index: $container-z-index + 1;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;       
          
  img:hover {
	-webkit-animation-name: shake;
	   -moz-animation-name: shake;
	        animation-name: shake;
	  
	-webkit-animation-duration: 0.8s;
	   -moz-animation-duration: 0.8s;
	        animation-duration: 0.8s;
	 
	-webkit-animation-iteration-count: infinite;
	   -moz-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	  
	-webkit-animation-timing-function: linear;
	   -moz-animation-timing-function: linear;
	        animation-timing-function: linear;
  }
          
  .foreground {
    z-index: $container-z-index + 2;
  }
  
  img {
	cursor: pointer;
  }
  
  .menu {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 3em;
  }
  
  .sticky {
    position: absolute;
    top: 6px;
    left: 54px;
    width: 1em;
  }
}

.corner-menu:hover {
  opacity: 1;
} 
