@import 'reset';

$bg-image-width: 1024px;
$bg-image-height: 532px;
$bg-image-padding: 20px;
$menu-image-height: 62px;

$tab-bg-color: #F4F4F4;
$body-bg-color: #333333;

// Screen resolutions

// mobile portrait
$screen-xxs-max: 479px;
// for devices with width <= 480

// mobile landscape
$screen-xs-min: 480px;
// for devices with width 480 .. 767
$screen-xs-max: 767px;

// tablet portrait
$screen-sm-min: 768px;
// for devices with width 768 .. 1023
$screen-sm-max: 991px;

// desktop / tablet-landscape
$screen-md-min: 992px;
// for devices with width 1024 .. 1279
$screen-md-max: 1199px;

$screen-lg-min: $bg-image-width+(2*20);
// for devices with width 1280+

@import 'portfolio';
@import 'contactus';
@import 'blog';

body {
  background-color: $body-bg-color;
  font-family: serif;
  font-size:11pt;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type=text] {
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid black; 
}

button[type=button] {
  padding: 5px 5px;
  border: 0px none;
  background-color: white;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.container {
  width:100%;
  margin:auto;

  @media(min-width: $screen-lg-min)
  {
    max-width: $bg-image-width+40;
  }
}

.header-row {
  padding-top: 20px;
  .title-col {
    background-color: $tab-bg-color;
    float:left;
    height:$menu-image-height;
    width:30%;
    padding: 0px 0px 0px 20px;
    color: $body-bg-color;
  }

  .menu-col {
    float: right;
    height: $menu-image-height;
    padding: 0px 20px 0px 0px;

    img {
      float: right;
      display: inline-block;
      margin:0px 2px 0px 2px;
    }
  }
}

@media screen and ( max-width: $screen-xs-max )
{
  .header-row{
    height: 30px;

    .title-col {
      height: 30px;
    }

    .menu-col {
      height: 30px;
      float: right;

      img {
        height: 30px;
      }
    }
  }

}

.main-row {
  width: $bg-image-width - 40;
  width:auto;
  height: $bg-image-height - 40;
  background-origin: padding-box;
  padding: 20px;
  border: solid $tab-bg-color;
  border-width: 20px 20px 10px 20px;
  float: left;
}

.main-row-index {
  background: url('../images/bg1.png') no-repeat;

  #introduction {
    width: 40%;
    background-color: rgba(75,75,75,0.5);
    color: white;
    padding: 20px;
    height: $bg-image-height - 80;
    text-align: justify;
  }

  @media screen and ( max-width: $screen-xs-max )
  {
    #introduction {
      width: auto;
    }
  }
}

.footer-row {
  border: solid $tab-bg-color;
  border-width: 10px 20px 20px 20px;
  position: relative;
  width:auto;
  padding: 20px;
  color:white;
  background-color: #056878;
  float:left;

  .col-3 {
    float: left;
    display:inline-block;
    width:23%;
    text-align: justify;
    padding: 1%;
      // todo: title not only strong, but larger size..    
  }

  .follow {
    img {
      width:18%;
    }
  }
  
  .col-3:after {
    content:'';
    display: block;
    clear: both;
  }

  #lastprojectimage {
    width: 100%;
  }
  
  #qcode {
	  width: 50%;
  }
}

@media screen and ( max-width: $screen-xs-max )
{
  .footer-row {
    .col-3 {
      width: 100%;
      // todo: title not only strong, but larger size..
    }

    .follow {
      img {
        width:8%;
      }
    }

    #qcode {
      width: 0%;
    }
  }
}
